include ./c2207.pug
	title Timothy Borisov █▮ 2302
	script(type="module", src="./index.js" async defer)

body.c2207
	#frontdoor
		bb#title.text ▮ Timothy Borisov. Dev. Games. Web.
		canvas#main
		bb.text
			a(href='https://t.me/hyperbrumed') 
				p.kbd █. contact
			a(href='https://tynrare-cv-0.netlify.app/')
				p.kbd █. about
			
			//- [CV for CO](https://tynrare-cv-0.netlify.app/)

		bb.stamp 
			a(href='https://github.com/unbrumed/avatar') engage code-xray 
